In [20]:
#imports libraries
import numpy as np
import pandas as pd

In [21]:
#import data
df_twitter = pd.read_csv("twitter_hate_speech.csv")
df_nepali = pd.read_excel("nepali_hate_speech.xlsx")

In [22]:
df_twitter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          24783 non-null  int64
 1   count               24783 non-null  int64
 2   hate_speech         24783 non-null  int64
 3   offensive_language  24783 non-null  int64
 4   neither             24783 non-null  int64
 5   class               24783 non-null  int64
 6   tweet               24783 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.3+ MB

In [23]:
df_nepali.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1077 entries, 0 to 1076
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   RawRom         1077 non-null   object
 1   RawNep         1076 non-null   object
 2   NormNep        1077 non-null   object
 3   NormRom        1077 non-null   object
 4   Offensiveness  1077 non-null   int64
 5   IsTaboo        1077 non-null   int64
 6   Class          1077 non-null   object
dtypes: int64(2), object(5)
memory usage: 59.0+ KB

In [24]:
def map_class_by_offensiveness(offensiveness):
    if offensiveness in (1, 2):
        return 2
    elif offensiveness in (3, 4):
        return 0
    else:
        return 1

In [25]:
df_nepali['Offensiveness'] = df_nepali['Offensiveness'].apply(map_class_by_offensiveness)

In [26]:
df_nepali

,RawRom,RawNep,NormNep,NormRom,Offensiveness,IsTaboo,Class
0,adhinayak,अधिनायक,अधिनायक,adhinayak,2,0,Politics
1,adhinayak tantra,अधिनायक तन्त्र,अधिनायक तन्त्र,adhinayak tantra,2,0,Politics
2,adhinayakatwa,अधिनायकत्व,अधिनायकत्व,adhinayakatwa,2,0,Politics
3,adhinayakbad,अधिनायकवाद,अधिनायकवाद,adhinayakbad,2,0,Politics
4,adhinayakbadi,अधिनायकवादी,अधिनायकवादी,adhinayakbadi,2,0,Politics
...,...,...,...,...,...,...,...
1072,hutihara,हुतीहारा,हुतीहारा,hutihara,0,0,Other
1073,hutihara,हूतीहारा,हुतीहारा,hutihara,0,0,Other
1074,haija,हैजा,हैजा,haija,2,0,Disease
1075,hwau nabhayeko,ह्याउ नभएको,ह्याउ नभएको,hwau nabhayeko,0,0,Other
1076,what the fuck,ह्वाट दी फक,ह्वाट दि फक,what da phak,1,1,Vulgar

In [27]:
# Nepali
df_nepali_preprocess = df_nepali.rename(columns={'RawRom': 'text', 'Offensiveness': 'label'})
df_nepali_preprocess['category'] = df_nepali['Offensiveness'].map({0: 'hate_speech', 1: 'offensive_language', 2: 'neither'})

In [28]:
df_nepali_preprocess

,text,RawNep,NormNep,NormRom,label,IsTaboo,Class,category
0,adhinayak,अधिनायक,अधिनायक,adhinayak,2,0,Politics,neither
1,adhinayak tantra,अधिनायक तन्त्र,अधिनायक तन्त्र,adhinayak tantra,2,0,Politics,neither
2,adhinayakatwa,अधिनायकत्व,अधिनायकत्व,adhinayakatwa,2,0,Politics,neither
3,adhinayakbad,अधिनायकवाद,अधिनायकवाद,adhinayakbad,2,0,Politics,neither
4,adhinayakbadi,अधिनायकवादी,अधिनायकवादी,adhinayakbadi,2,0,Politics,neither
...,...,...,...,...,...,...,...,...
1072,hutihara,हुतीहारा,हुतीहारा,hutihara,0,0,Other,hate_speech
1073,hutihara,हूतीहारा,हुतीहारा,hutihara,0,0,Other,hate_speech
1074,haija,हैजा,हैजा,haija,2,0,Disease,neither
1075,hwau nabhayeko,ह्याउ नभएको,ह्याउ नभएको,hwau nabhayeko,0,0,Other,hate_speech
1076,what the fuck,ह्वाट दी फक,ह्वाट दि फक,what da phak,1,1,Vulgar,offensive_language

In [29]:
data_nepali = df_nepali_preprocess[['text', 'label', 'category']]

In [30]:
data_nepali

                  text  label            category
0            adhinayak      2             neither
1     adhinayak tantra      2             neither
2        adhinayakatwa      2             neither
3         adhinayakbad      2             neither
4        adhinayakbadi      2             neither
...                ...    ...                 ...
1072          hutihara      0         hate_speech
1073          hutihara      0         hate_speech
1074             haija      2             neither
1075    hwau nabhayeko      0         hate_speech
1076     what the fuck      1  offensive_language

[1077 rows x 3 columns]

In [31]:
df_twitter

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...,...,...,...,...,...,...,...
24778,25291,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779,25292,3,0,1,2,2,"you've gone and broke the wrong heart baby, an..."
24780,25294,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...
24781,25295,6,0,6,0,1,youu got wild bitches tellin you lies
24782,25296,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

In [32]:
# twitter
df_twitter_preprocess = df_twitter.rename(columns={'tweet': 'text', 'class': 'label'})
df_twitter_preprocess['category'] = df_twitter['class'].map({0: 'hate_speech', 1: 'offensive_language', 2: 'neither'})

In [33]:
df_twitter_preprocess

,Unnamed: 0,count,hate_speech,offensive_language,neither,label,text,category
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...,neither
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...,offensive_language
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...,offensive_language
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...,offensive_language
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...,offensive_language
...,...,...,...,...,...,...,...,...
24778,25291,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...,offensive_language
24779,25292,3,0,1,2,2,"you've gone and broke the wrong heart baby, an...",neither
24780,25294,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...,offensive_language
24781,25295,6,0,6,0,1,youu got wild bitches tellin you lies,offensive_language
24782,25296,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...,neither

In [36]:
data_twitter = df_twitter_preprocess[['text', 'label', 'category']]

In [37]:
data_twitter

,text,label,category
0,!!! RT @mayasolovely: As a woman you shouldn't...,2,neither
1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...,1,offensive_language
2,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...,1,offensive_language
3,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...,1,offensive_language
4,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...,1,offensive_language
...,...,...,...
24778,you's a muthaf***in lie &#8220;@LifeAsKing: @2...,1,offensive_language
24779,"you've gone and broke the wrong heart baby, an...",2,neither
24780,young buck wanna eat!!.. dat nigguh like I ain...,1,offensive_language
24781,youu got wild bitches tellin you lies,1,offensive_language
24782,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...,2,neither

In [38]:
data = pd.concat([data_twitter, data_nepali], ignore_index=True)

In [39]:
data

,text,label,category
0,!!! RT @mayasolovely: As a woman you shouldn't...,2,neither
1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...,1,offensive_language
2,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...,1,offensive_language
3,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...,1,offensive_language
4,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...,1,offensive_language
...,...,...,...
25855,hutihara,0,hate_speech
25856,hutihara,0,hate_speech
25857,haija,2,neither
25858,hwau nabhayeko,0,hate_speech
25859,what the fuck,1,offensive_language

In [40]:
data.to_csv('merge_data.csv', index=False, encoding='utf-8')