Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 362.7 kB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
#imports libraries
import numpy as np
import pandas as pd

import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer

from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, Bidirectional, LSTM, Dense
from tensorflow.keras.optimizers import Adam
from sklearn.metrics import classification_report, accuracy_score, roc_auc_score

In [4]:
#import data
# df_twitter = pd.read_csv("twitter_hate_speech.csv")
# df_nepali = pd.read_excel("nepali_hate_speech.xlsx")

df = pd.read_csv("merge_data.csv")

In [5]:
df

,text,label,category
0,!!! RT @mayasolovely: As a woman you shouldn't...,2,neither
1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...,1,offensive_language
2,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...,1,offensive_language
3,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...,1,offensive_language
4,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...,1,offensive_language
...,...,...,...
25855,hutihara,0,hate_speech
25856,hutihara,0,hate_speech
25857,haija,2,neither
25858,hwau nabhayeko,0,hate_speech
25859,what the fuck,1,offensive_language

In [5]:
# df_nepali

### Pre Process

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25860 entries, 0 to 25859
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   text      25860 non-null  object
 1   label     25860 non-null  int64
 2   category  25860 non-null  object
dtypes: int64(1), object(2)
memory usage: 606.2+ KB

In [7]:
df.shape
df.head(5)

,text,label,category
0,!!! RT @mayasolovely: As a woman you shouldn't...,2,neither
1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...,1,offensive_language
2,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...,1,offensive_language
3,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...,1,offensive_language
4,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...,1,offensive_language

In [8]:
# # Drop irrelevant columns
# data = df[['class', 'tweet']]

In [9]:
# data

       class                                              tweet
0          2  !!! RT @mayasolovely: As a woman you shouldn't...
1          1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2          1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3          1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4          1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...      ...                                                ...
24778      1  you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779      2  you've gone and broke the wrong heart baby, an...
24780      1  young buck wanna eat!!.. dat nigguh like I ain...
24781      1              youu got wild bitches tellin you lies
24782      2  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

[24783 rows x 2 columns]

In [8]:
def preprocess_text(text):
    # Lowercase
    text = text.lower()
    
    # Removing special characters, URLs, and extra whitespaces
    text = re.sub(r'https?://\S+|www\.\S+', '', text)
    text = re.sub(r'<.*?>', '', text)
    text = re.sub(r'[^A-Za-z0-9]+', ' ', text)
    # Tokenization
    text = text.split()
    
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    text = [word for word in text if word not in stop_words]
    
    # Stemming
    stemmer = SnowballStemmer('english')
    text = [stemmer.stem(word) for word in text]
    return ' '.join(text)

In [11]:
df['text'] = df['text'].apply(preprocess_text)

/var/folders/3y/yxfc9cms7ss262pddd2ymh_40000gp/T/ipykernel_31123/1456702422.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['tweet'] = data['tweet'].apply(preprocess_text)

In [12]:
# Label Encoding
# label_encoder = LabelEncoder()
# df['label'] = label_encoder.fit_transform(data['class'])

# Text Vectorization using TF-IDF
tfidf_vectorizer = TfidfVectorizer(max_features=5000, ngram_range=(1, 2), stop_words='english')
X = tfidf_vectorizer.fit_transform(data['tweet'])

/var/folders/3y/yxfc9cms7ss262pddd2ymh_40000gp/T/ipykernel_31123/4189451165.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['class'] = label_encoder.fit_transform(data['class'])

In [13]:
# Feature Selection using chi-squared test
k_best = SelectKBest(chi2, k=1000)
X = k_best.fit_transform(X, data['class'])
X = X.toarray()

In [21]:
# Split the data into training and validation sets
y = data['class']
# Split the data into training, validation, and test sets
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

In [22]:
X_train.shape[0]

17348

In [16]:
## Padding -> to uniform the datas
max_length = max(seq.shape[0] for seq in X_train)

In [17]:
# Define the BiLSTM Model
model = Sequential()
model.add(Embedding(X_train.shape[0], output_dim=200, input_length=max_length))
model.add(Bidirectional(LSTM(64, return_sequences=True)))
model.add(Bidirectional(LSTM(64)))
model.add(Dense(1, activation='sigmoid'))

In [18]:
# Compile the Model
model.compile(optimizer=Adam(learning_rate=0.001), loss='binary_crossentropy', metrics=['accuracy'])

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.
WARNING:absl:There is a known slowdown when using v2.11+ Keras optimizers on M1/M2 Macs. Falling back to the legacy Keras optimizer, i.e., `tf.keras.optimizers.legacy.Adam`.

In [19]:
#  Training
model.fit(X_train, y_train, validation_data=(X_val, y_val), epochs=5, batch_size=64)

Epoch 1/5
330/330 [==============================] - 798s 2s/step - loss: -3.5810 - accuracy: 0.7751 - val_loss: -5.7158 - val_accuracy: 0.7700
Epoch 2/5
330/330 [==============================] - 834s 3s/step - loss: -7.9272 - accuracy: 0.7751 - val_loss: -9.8751 - val_accuracy: 0.7700
Epoch 3/5
330/330 [==============================] - 861s 3s/step - loss: -12.1980 - accuracy: 0.7751 - val_loss: -14.0231 - val_accuracy: 0.7700
Epoch 4/5
330/330 [==============================] - 864s 3s/step - loss: -16.3972 - accuracy: 0.7751 - val_loss: -18.1230 - val_accuracy: 0.7700
Epoch 5/5
330/330 [==============================] - 864s 3s/step - loss: -20.5823 - accuracy: 0.7751 - val_loss: -22.2346 - val_accuracy: 0.7700

In [23]:
# Evaluation (using the X_test and y_test from previous split)
y_pred = model.predict(X_test)
y_pred_binary = (y_pred > 0.5).astype(int)

117/117 [==============================] - 40s 334ms/step

In [24]:
y_pred_binary

array([[1],
       [1],
       [1],
       ...,
       [1],
       [1],
       [1]])

In [1]:
# Example usage:
text_to_classify = "This is an example text to classify."
text_to_classify = preprocess_text(text_to_classify)
predicted_category = model.predict(text_to_classify)
print("Predicted Category:", predicted_category)

NameError: name 'preprocess_text' is not defined